@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri&family=Inter:wght@500;600&family=Montserrat:wght@500;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  scroll-behavior: smooth;
  padding: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
body {
  background-color: #fafafa;
  width: 100%;
  font-family: "Inter", sans-serif;
}
.input {
  outline: solid #166437 1px;
  border-radius: 5px;
  padding: 8px;
  margin-top: 4px;
}
.input:webkit-autofill,
input:-webkit-autofill {
  background-color: transparent;
  border: 3px red solid;
}
.main-container {
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
}
.bb {
  justify-content: center;
  justify-items: center;
  align-items: center;
}
/* Hide the default scrollbar */
::-webkit-scrollbar {
  width: 8px; /* Adjust width for desired thickness */
  height: 8px; /* Adjust height for desired thickness */
}

/* Style the thumb (the draggable part of the scrollbar) */
::-webkit-scrollbar-thumb {
  background-color: #222; /* Dark color for the thumb */
  border-radius: 4px; /* Rounded corners */
}

/* Hide the default track (the background of the scrollbar) */
::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Additional styling for Firefox (optional) */
scrollbar {
  width: 8px; /* Adjust width for desired thickness */
  height: 8px; /* Adjust height for desired thickness */
  background-color: transparent;
}

scrollbar-thumb {
  background-color: #222; /* Dark color for the thumb */
  border-radius: 4px; /* Rounded corners */
}

/* loader from https://uiverse.io/G4b413l/jolly-kangaroo-36 */
.newtons-cradle {
  --uib-size: 50px;
  --uib-speed: 1.2s;
  --uib-color: black;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--uib-size);
  height: var(--uib-size);
}
.dark .newtons-cradle {
  --uib-color: white;
}
.newtons-cradle__dot {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  width: 25%;
  transform-origin: center top;
}

.newtons-cradle__dot::after {
  content: "";
  display: block;
  width: 100%;
  height: 25%;
  border-radius: 50%;
  background-color: var(--uib-color);
}

.newtons-cradle__dot:first-child {
  animation: swing var(--uib-speed) linear infinite;
}

.newtons-cradle__dot:last-child {
  animation: swing2 var(--uib-speed) linear infinite;
}

@keyframes swing {
  0% {
    transform: rotate(0deg);
    animation-timing-function: ease-out;
  }

  25% {
    transform: rotate(70deg);
    animation-timing-function: ease-in;
  }

  50% {
    transform: rotate(0deg);
    animation-timing-function: linear;
  }
}

@keyframes swing2 {
  0% {
    transform: rotate(0deg);
    animation-timing-function: linear;
  }

  50% {
    transform: rotate(0deg);
    animation-timing-function: ease-out;
  }

  75% {
    transform: rotate(-70deg);
    animation-timing-function: ease-in;
  }
}

.loader {
  border: 4px solid rgba(0, 0, 0, .1);
  border-left-color: transparent;
  border-radius: 50%;
}

.loader {
  border: 4px solid rgba(255, 255, 255, .9);
  border-left-color: transparent;
  width: 15px;
  height: 15px;
}

.loader {
  border: 4px solid rgba(255, 255, 255, .9);
  border-left-color: transparent;
  width: 20px;
  height: 20px;
  animation: spin89345 1s linear infinite;
}

@keyframes spin89345 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}